<.title>
  <%= @title %>
</.title>

<.text>
  Fresh air of the city gained bad odor.
  Electricity generators consumed the richness of silence.
  The happiness of living was replaced by the will to survive.
  Music is a mysterious person in the dark (was there anybody?).
  Hope is a sailman who cannot promise to be back.
  It will dance and it will smile. But not today.
</.text>
