<%= if Mix.env() == :dev do %>
  <h4>
    Invalid post count:
    <%= Blog.Posts.invalid_post_count() %>
  </h4>
<% end %>

<.post_previews posts={@posts}/>

<%= if @next_page_exists do %>
  <div>
    <.link href={"/posts/?page=#{@page + 1}&tag=#{@tag}" }>Next page</.link>
  </div>
<% end %>